

<html>
  <head>
    <!-- define your title  -->
    <title> ECEN4213 EX2A: Chat is this cooked? </title>
    <style>
		body {
			text-align: center;
		}
    </style>
  </head>

  <body>

      <!-- image display module -->
      <h1>Live Streaming</h1>
      <img src="../static/st_meme.jpg" height="35%">

      <hr>

      <!-- sensor status display module -->
      <div>
        <!-- module 2 sensor tag: Bumper, wheelDrop, Cilff -->	
        <!-- sensor tag: Bumper, wheelDrop, Cilff -->
        <input style="font-size:40;height:150; width:300;" type = "button" id = "Bumper" value = "Bumper" />
        <!-- add two more buttons here -->
        <input style="font-size:40;height:150; width:300;" type = "button" id = "WheelDrop" value = "WheelDrop" />
        <input style="font-size:40;height:150; width:300;" type = "button" id = "Cliff" value = "Cliff" />
      </div>

      <div>
        <!-- module 2 sensor status: on, off,… -->
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but1" value = "OFF" />
        <!-- add two more buttons here -->
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but2" value = "OFF" />
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but3" value = "OFF" />
      </div>
        


      <!-- D-pad module -->
      <div>
          <div>
            <!-- up button -->
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "upbutton" value = "Up" />
          
          </div>
          
          <div>
            <!-- left, stop and right button -->
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "leftbutton" value = "Left" />
          <!-- add two more buttons here -->
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "stopbutton" value = "Stop" />
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "rightbutton" value = "Right" />
          </div>
          
          <div>
          <!-- down button -->
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "downbutton" value = "Down" />
          </div>
      </div>

  </body>
</html>
